<ul class="cart-items">
    {{#each this}}
    <li id="{{this.Id}}" class="cart-items__list">
        <div class="cart-items__details">
            <div class="cart-items__details--name">{{cartItem.Name}}</div>
            <div class="cart-items__details--unit">{{cartItem.Price}} * {{this.quantity}}</div>
        </div>

        <div class="cart-items__price">
            {{this.totalPrice}}
        </div>
    </li>
    {{/each}}
</ul>